# You should have a line like this in a secret file sasl_passwd for gmail
# You can't use your actual gmail password, you need to generate a so-called
# "application password" as in https://support.google.com/accounts/answer/185833

[smtp.gmail.com]:587 my.email.addr@gmail.com:my-application-password
